---
---
{% include topPageContent.html %}
    <div class="container">
        <div class="card-columns">
            <div class="card">
                <img class="img-fluid" src="/assets/img/bioPic01.jpg" alt="Sukhjit gesturing">
            </div>
            <div class="card">
                <img class="img-fluid" src="/assets/img/bioPic02.jpg" alt="Sukhjit pointing to something">
            </div>
            <div class="card">
                <img class="img-fluid" src="/assets/img/bioPic03.jpg" alt="Stage pic of Sukhjit">
            </div>
            <div class="card">
                <img class="img-fluid" src="/assets/img/coffeePic.jpg" alt="Side view of Sukhjit">
            </div>
            <div class="card">
                <img class="img-fluid" src="/assets/img/NolaPic.jpg" alt="Side view of Sukhjit">
            </div>
            <div class="card">
                <img class="img-fluid" src="/assets/img/shitHole02Pic.jpg" alt="Purple lighting Sukhjit">
            </div>
            <div class="card">
                <img class="img-fluid" src="/assets/img/melsPic.jpg" alt="Sukhjit at Mel's">
            </div>
        </div>
    </div>
{% include bottomPageContent.html %}

