img {
	display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
	margin: auto;
	color: $black;
	text-align: center;
	font-size: 12px;
}

p {
	margin: auto;
	color: $white;
	text-align: left;
	max-width: 75%;
}