img {
	display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
	margin: 10px;
	color: $black;
	text-align: left;
	max-width: 50%;
	font-size: 12px;
}

p{
	margin: 10px;
	color: $white;
	text-align: left;
	max-width: 50%;
}