@media (min-width: 544px) {
    a.email{font-size: 24px;}
}

@media (min-width: 768px) {
    a.email{font-size: 32px;}
}

@media (min-width: 992px) {
    a.email{font-size: 40px;}
}

@media (min-width: 1200px) {
    a.email{font-size: 48px;}
}

a.email{
	margin: 40px;
}