<head>
	<title>Sukhjit Singh</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta name="google-site-verification" content="5XAClTk6Q6a9gPyy4WTLsQUQryEe1pvnizuz42Bzsm0" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='shortcut icon' href="/assets/img/favicons/favicon.ico">
	<script src="/assets/js/jquery-3.3.1.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/assets/css/main.css">
	<!--{if lt IE 9}><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><!{endif}-->
</head>