<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">Sukhjit Singh</a>
            <p class="kicker">Comedian // Artist // Engineer</p>
        </li>
        <li>
            <a href="/bio">Bio</a>
        </li>
        <li>
            <a href="/clips">Clips</a>
        </li>
        <li>
            <a href="/work">Work</a>
        </li>
        <li>
            <a href="/contact">Contact Me</a>
        </li>
    </ul>
<!--     <a href="/bio">
    <img src="/assets/img/linkedInLogo.svg">
    </a> -->
</div>  