<div id="sidebar-wrapper">
<div class="sidebar-nav" id="MainMenu">
    <div class="sidebar-brand">
        <a href="/">Sukhjit Singh</a>
    </div>
    <div class="list-group panel">
        <a href="#comedianMenu" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">Comedian<span class="caret"></span></a>
        <div class="collapse" id="comedianMenu">
          <a href="/comedy/bio" class="list-group-item list-group-submenu">Bio</a>
          <a href="/comedy/clips" class="list-group-item list-group-submenu">Clips</a>
          <a href="/comedy/headshots" class="list-group-item list-group-submenu">Headshots</a>
          <a href="/comedy/testimonials" class="list-group-item list-group-submenu">Testimonials</a>
        </div>
<!--         <a href="#artistMenu" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">Artist</a>
        <div class="collapse" id="artistMenu">
            <a href="/artwork" class="list-group-item list-group-submenu">Artwork</a>
        </div> -->
        <a href="#engineerMenu" class="list-group-item" data-toggle="collapse" data-parent="#MainMenu">Engineer</a>
        <div class="collapse" id="engineerMenu">
            <a href="/engineer/bio" class="list-group-item list-group-submenu">Bio</a>
            <a href="/engineer/resume" class="list-group-item list-group-submenu">Resume</a>
            <a href="/engineer/work" class="list-group-item list-group-submenu">Work</a>
        </div>
        <a href="/contact" class="list-group-item" id="contactAnchor">Contact</a>
    </div>
</div>

<!--     <a href="/bio">
    <img src="/assets/img/linkedInLogo.svg">
    </a> -->
</div>  