<div id="sidebar-wrapper">
<div class="sidebar-nav" id="MainMenu">
    <div class="sidebar-brand">
        <a href="/">Sukhjit Singh</a>
    </div>
    <div class="list-group panel">
        <a href="/comedy/bio" class="list-group-item">Bio</a>
        <a href="/comedy/clips" class="list-group-item">Clips</a>
        <a href="/comedy/headshots" class="list-group-item">Headshots</a>
        <a href="/comedy/testimonials" class="list-group-item">Testimonials</a>
        <a href="/contact" class="list-group-item" id="contactAnchor">Contact</a>
    </div>
</div>

<!--     <a href="/bio">
    <img src="/assets/img/linkedInLogo.svg">
    </a> -->
</div>  