---
---
{% include topPageContent.html %}
	<img src="/assets/img/bioPic01.jpg" alt="Picture of Sukhjit holding a microphone on tilt">

	<p>Hailing from a small town in Ohio, Sukhjit got his comedic start in Columbus, Ohio and is currently performing in Chicago, Illinois. With over two years of experience, he's opened for nationally touring comedians, such as Dan Mintz, and was a finalist in the Columbus's Funniest Competition. His cheerful story-telling and silly narratives about snakes and his Indian upbringing in rural Ohio have been mildly refreshing and quite pleasant for audiences in clubs across the country. You don't want to miss this guy!</p>
{% include bottomPageContent.html %}
