---
---
{% include topPageContent.html %}
	<figure>
		<p><img src="/assets/img/shitHolePic.jpg" alt="Picture of Sukhjit holding a microphone">
		<figcaption>Photo courtesy of Loren Egeland</figcaption>
	</figure>

	<p>Sukhjit is a Chicago based stand-up comedian who got his start in Columbus, Ohio. His style is a mix of cheerful and silly story-telling. He's a rising star in Chicago's scene, which is not surprising seeing as he's opened for nationally touring headliner, Dan Mintz, and was a finalist in the Columbus Funny Bone's Talent Search Contest back home. Sukhjit got his comedic start at Scarlet and Gray Cafe, which has since closed down due to mismanagement or fire.</p>
{% include bottomPageContent.html %}
