---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
	<body>	
		<div id="wrapper">
			{% include sidebar.html %}
			
			{% include topPageContent.html %}
            <div class="container">
                <div class="card-columns">
                    <div class="card">
                        <img class="img-fluid" src="/assets/img/headshot01.jpg" alt="Black And White Picture of Sukhjit looking forward">
                    </div>
                    <div class="card">
                        <img class="img-fluid" src="/assets/img/headshot02.jpg" alt="Black and white picture of Sukhjit looking to the side">
                    </div>
                    <div class="card">
                        <img class="img-fluid" src="/assets/img/headshot03.jpg" alt="Color picture of Sukhjit looking to the side">
                    </div>
                    <div class="card">
                        <img class="img-fluid" src="/assets/img/headshot04.jpg" alt="Color picture of Sukhjit looking forward">
                    </div>
                </div>
            </div>
			{% include bottomPageContent.html %}
		</div>
		<script type="text/javascript" src="/assets/js/functions.js"></script>
	</body>
</html>